* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-block {
  background-color: #001119;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.section2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #001119;

  align-items: center;
  margin: 0;
}
.main-container {
  width: 300px;
  height: 300px;
  background-color: #ff0000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 250px;
  height: 250px;
  background-color: #ffa500;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 {
  width: 200px;
  height: 200px;
  background-color: #ffff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3 {
  width: 150px;
  height: 150px;
  background-color: #008000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #0000ff;
  border-radius: 50%;
}
.box5 {
  width: 50px;
  height: 50px;
  background-color: #800080;
  border-radius: 50%;
}
.main-head {
  width: 400px;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}
.pig-head {
  width: 200px;
  height: 200px;
  background-color: #ffc0cb;
  border-radius: 50%;
  border: 5px solid black;
  position: absolute;
}
.ear {
  width: 60px;
  height: 60px;
  background-color: #ffc0cb;
  border-radius: 50%;
  border: 5px solid black;
  position: absolute;
}
.ear-left {
  left: 115px !important;
  top: 35px;
}
.ear-right {
  top: 36px;
  right: 113px;
}
.eye {
  width: 59px;
  height: 59px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ball {
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.eye-left {
  top: 35px;
  left: 25px;
}
.eye-right {
  top: 36px;
  right: 26px;
}
.nose {
  height: 55px;
  width: 88px;
  border-radius: 35%;
  background-color: #f57187;
  border: 3px solid black;
  position: absolute;
  top: 115px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 50px;
}
.nose-ball {
  width: 17px;
  height: 23px;
  border-radius: 50%;
  background-color: black;
}
.question4 {
  background-color: #001119;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.main-robert {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.rebort {
  background-color: #a4d9eb;
  height: 150px;
  border: 5px solid #9bbcc2;
  border-radius: 20px;
  width: 150px;
  position: absolute;
}
.eye1 {
  width: 38px;
  height: 38px;
  background-color: white;
  border: 5px solid #00b3ff;
  border-radius: 50%;
  position: absolute;
}
.eye1-right {
  right: 18px;
  top: 23px;
}
.eye1-left {
  left: 20px;
  top: 23px;
}
.nose2 {
  width: 30px;
  height: 30px;
  background-color: #c90a0a;
  position: absolute;
  top: 56px;
  right: 55px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.mouth {
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: #dedede;
  border-radius: 20px;
  top: 98px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  right: 18px;
  overflow: hidden;
}
.ear1 {
  width: 10px;
  position: absolute;
  height: 50px;
  background-color: #c90a0a;
}
.ear1-left {
  left: 115px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ear1-right {
  right: 115px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.teeth {
  width: 4px;
  height: 23px;
  background-color: black;
}
.parent {
  position: absolute;
  top: 111px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ring {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: -26px;
  position: absolute;
  background-color: #ffa500;
}
.line {
  width: 10px;
  height: 15px;
  background-color: #808080;
}

.question3 {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 90px;
  background-color: #001119;
}
.form {
  background-color: rgb(226, 225, 225);
  padding: 20px 40px;
  border-radius: 15px;
  position: relative;
}
.input-group {
  background-color: white;
  margin-top: 12px;
  border-radius: 5px;
  width: 400px;
  border-left: 5px solid rgb(116, 116, 249);
  padding: 15px 20px;
  display: flex;
}
p {
  margin-left: 12px;
}
.group-a {
  border-left: 5px solid rgb(138, 3, 3);
}
.group-b {
  border-left: 5px solid orange;
}
.group-c {
  border-left: 5px solid green;
}
.btn {
  padding: 0.75rem;
  background-color: #001119;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 12px;
}
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.wid {
  height: 40px;
  outline: none;
  margin-top: 5px;
  padding: 5px;
}
.form-step {
  display: none;
}
.form-step-active {
  display: block;
}
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}

.progress {
  background-color: white;
  width: 0%;
}
.progress-step {
  width: 2.1875rem;
  background-color: rgb(255, 255, 255);
  height: 2.1875rem;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  z-index: 1000;
  align-items: center;
}
.progress-step::before {
  counter-increment: step;
  content: counter(step);
  z-index: 1000;
}
.progress-step::after {
  content: attr(data-title);
  color: black;
  font-weight: 100;
  font-size: 12px;
  position: absolute;
  top: calc(100% + 0.75rem);
}
.progress-step-active {
  background-color: #008000;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 600px) {
  .question3 {
    width: 100%;
    padding: 15px;
  }
  .input-group {
    width: 100%;
  }
  .ext {
    height: 180px;
  }
}
.form{
  width:50%;
}
